APP=sitepulse-wp
DOMAIN=sitepulse-wp.test
HTTP_PORT=4103
MYSQL_PORT=5299
PHPMYADMIN_PORT=6095

PHP_VERSION=8.1
NODEJS_VERSION=22.x

DB_HOST=mysql
MYSQL_DATABASE=wp
MYSQL_USER=wp
MYSQL_PASSWORD=secret
MYSQL_ROOT_PASSWORD=secret
