:root {
  --primary-color: #00bf63;
  --text-color: #1d2327;
  --main-bg: #ffffff;
}

.toplevel_page_sitepulse-monitor,
.sitepulse-monitor_page_sitepulse-incidents,
.sitepulse-monitor_page_sitepulse-audit-reports {
    #wpcontent {
        padding-left: 0;
    }
}

#spm-container {

    .spm-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--main-bg);
        padding: 15px 25px;

        &-left {
            display: flex;
            align-items: center;

            .spm-logo {
                width: 50px;
                height: 40px;
                display: flex;
                align-items: center;
                margin-right: 10px;
            }
        }

        .spm-conn {
            &__btn {
                padding: 15px 20px;
                border: 1px solid var(--primary-color);
                background: transparent;
                color: var(--primary-color);
                border-radius: 4px;
                font-size: 18px;
                box-shadow: 1px 1px 3px #25252554;

                &.spm-connected {
                    background-color: var(--primary-color);
                    color: var(--main-bg);
                }

                &.is-busy {
                    background-image: linear-gradient(-45deg, var(--primary-color) 33%, #0da060 0, var(--primary-color) 70%, var(--primary-color) 0);
                }

                &:hover {
                    box-shadow: none;
                }
            }
        }
    }

    .spm-page-title {
        padding: 5px 12px 5px 18px;
        display: inline-block;
        font-size: 22px;
        color: #575757;
        margin: 15px 0 0;
    }

    .spm-content {
        display: flex;
        justify-content: center;
        position: relative;
        padding: 0 20px;
        margin-top: 30px;

        .spm-notice {
            width: 55.5%;
            position: absolute !important;
            left: 20%;
        }

        .spm-table-wrap {
            width: 85%;
            margin-top: 40px;

            .spm-table {
                width: 100%;
                border-collapse: separate;
                border-spacing: 0;
                background-color: var(--main-bg);
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

                thead {
                    background-color: #f7f9fc;
                    color: #575757;
                }

                th,
                td {
                    padding: 20px 25px;
                    border-top: 1px solid #efefef;
                    border-bottom: 1px solid #efefef;
                    text-align: left;
                }

                tbody tr:last-child {
                    td:first-child { border-bottom-left-radius: 4px; }
                    td:last-child  { border-bottom-right-radius: 4px; }
                }
            }
        }
    }
}
